*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Caveat", cursive;
}
/*index page start*/
.container{
    position: relative;
}
.card-container{
    padding-top: 3rem;
}
.icon-group {
    display: flex;
    gap: 0.625rem; 
    align-items: flex-end;
}
.icon-group i {
    font-size: 1.2rem;
    cursor: pointer;
}
.icon-group i.bi-star {
    margin-left: auto;
}
.card-header {
    display: flex;
    background-color: transparent;
    flex-direction: column;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-group {
    display: flex;
}
.category-container, .writer-container {
    margin-top: 0.625rem; 
    display: flex;
    flex-wrap: wrap;
    gap: 0.313rem;
}
.category-container p {
    margin: 0; 
    padding: 0;
}
.card{
    border-color: #B8001F;
    border-radius: 3.125rem ;
    border-width: 0.1rem;
    padding: 1rem;
    max-width: 100%;
    background-color: transparent; 
    margin: 3rem 1rem 1rem 1rem ;
}
.bi-plus-circle{
    position: absolute; 
    padding-bottom: 3rem;
    top: 0.625rem; 
    right: 0.625rem;
    font-size: 2.5rem; 
    color: #000000; 
}
/*index page end*/

/*create page start*/
.create-container
{
    max-width: 100%;
    align-items: center;
}
.form-group
{
    padding-top: 1rem;
}
.form-check
{
    padding-right: 2rem;
    align-self: end;
}
.create-button
{
    display: flex;
    justify-content: center;
    align-items: center;
}
button
{
    padding: 1rem;
    width: 40%;
    background-color: #B8001F;
    border-radius:3.125rem ;
}
form
{
    padding: 1rem;
    margin:1rem;
}
/*create page end*/
