@page
@model FrontEnd.Pages.Create
@{
    ViewData["Title"] = "Create";
}

<div class="create-container">
    <div class="row card-container">
<div class="card text-dark">
  <div class="card-header">Book Title</div>
  <div class="card-body">
    <h5 class="card-title">Review Title</h5>
    <p class="card-text">Review Text</p>
        <small>category, status, reading tracking</small>
  </div>
</div>