@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
<div class="createNav">
    <a asp-page="/Create"><i class="bi bi-plus-circle"></i></a>
</div>

    <div class="row card-container">
        <div class="col-md-4 mb-3">
<div class="card text-dark">
  <div class="card-header d-flex justify-content-between align-items-center"><h2>Book Title</h2>
    <div class="icon-group">
    <i class="bi bi-trash3"></i>
        <i class="bi bi-pencil"></i>
    <i class="bi bi-star"></i>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Review Title</h5>
    <p class="card-text">Review Text</p>
        <small>category, status, reading tracking</small>
  </div>
</div>
</div>
        <div class="col-md-4 mb-3">
<div class="card text-dark">
  <div class="card-header d-flex justify-content-between align-items-center"><h2>Book Title</h2>
    <div class="icon-group">
    <i class="bi bi-trash3"></i>
        <i class="bi bi-pencil"></i>
    <i class="bi bi-star"></i>
    </div>
  </div>  <div class="card-body">
    <h5 class="card-title">Review Title</h5>
    <p class="card-text">Review Text</p>
        <small>category, status, reading tracking</small>
  </div>
</div>
</div>
        <div class="col-md-4 mb-3">
<div class="card text-dark">
  <div class="card-header d-flex justify-content-between align-items-center"><h2>Book Title</h2>
    <div class="icon-group">
    <i class="bi bi-trash3"></i>
        <i class="bi bi-pencil"></i>
    <i class="bi bi-star"></i>
    </div>
  </div>
    <div class="card-body">
    <h5 class="card-title">Review Title</h5>
    <p class="card-text">Review Text</p>
        <small>category, status, reading tracking</small>
  </div>
</div>
</div>
        <div class="col-md-4 mb-3">
<div class="card text-dark">
  <div class="card-header d-flex justify-content-between align-items-center"><h2>Book Title</h2>
    <div class="icon-group">
    <i class="bi bi-trash3"></i>
        <i class="bi bi-pencil"></i>
    <i class="bi bi-star"></i>
    </div>
  </div>  <div class="card-body">
    <h5 class="card-title">Review Title</h5>
    <p class="card-text">Review Text</p>
        <small>category, status, reading tracking</small>
  </div>
</div>
</div>
        <div class="col-md-4 mb-3">
<div class="card text-dark">
  <div class="card-header d-flex justify-content-between align-items-center"><h2>Book Title</h2>
    <div class="icon-group">
    <i class="bi bi-trash3"></i>
        <i class="bi bi-pencil"></i>
    <i class="bi bi-star"></i>
    </div>
  </div>  <div class="card-body">
    <h5 class="card-title">Review Title</h5>
    <p class="card-text">Review Text</p>
        <small>category, status, reading tracking</small>
  </div>
</div>
</div>
        <div class="col-md-4 mb-3">
<div class="card text-dark">
  <div class="card-header d-flex justify-content-between align-items-center"><h2>Book Title</h2>
    <div class="icon-group">
    <i class="bi bi-trash3"></i>
        <i class="bi bi-pencil"></i>
    <i class="bi bi-star"></i>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Review Title</h5>
    <p class="card-text">Review Text</p>
        <small>category, status, reading tracking</small>
  </div>
</div>
</div>
    </div>
</div>
