@page
@model FrontEnd.Pages.Shared.Login
@{
    ViewData["Title"] = "Giriş Yap";
}

<div class="container">
    <div class="row">
<div class="form-container">
<ul class="nav nav-pills nav-justified mb-3" id="ex1">
  <li class="nav-item">
    <a class="nav-link active" aria-disabled="true"
     aria-selected="false">Giriş Yap</a>
  </li>
  <li class="nav-item">
    <a  asp-page="/Register" class="nav-link"
     aria-selected="true">Kayıt Ol</a>
  </li>
</ul>
</div>
    <div class="col-md-12 mb-3">
     <div class="card text-dark">
      <div class="tab-content">
        <div class="tab-pane fade show active">
          <form method="post">
            <div class="form-outline mb-4">
              <label asp-for="LoginDto.UserName" class="form-label">Kullanıcı Adı</label>
              <input asp-for="LoginDto.UserName" type="text" class="form-control" />
              <span asp-validation-for="LoginDto.UserName" class="text-danger"></span>
            </div>

            <div class="form-outline mb-4">
              <label asp-for="LoginDto.Password" class="form-label">Şifre</label>
              <input asp-for="LoginDto.Password" type="password"class="form-control" />
              <span asp-validation-for="LoginDto.Password" class="text-danger"></span>

            </div>
            <div class="create-button">
            <button type="submit">Giriş Yap</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>