@page
@model FrontEnd.Pages.Register
@{
    ViewData["Title"] = "Kayıt Ol";
}
<div class="container">
    <div class="row ">
      <div class="form-container">
<ul class="nav nav-pills nav-justified mb-3">
  <li class="nav-item">
    <a asp-page="/Login" class="nav-link"
     aria-disabled="false" aria-selected="true">Giriş Yap</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-selected="false">Kayıt Ol</a>
  </li>
</ul>
</div>
      <div class="col-md-12 mb-3">
          <div class="card text-dark">
              <div class="tab-content">
                  <div class="tab-pane fade show active">
                  <form method="post">
                    <div class="form-outline mb-4">
                      <label asp-for="RegisterDto.Username" class="form-label">Kullanıcı Adı</label>
                      <input asp-for="RegisterDto.Username" type="text" class="form-control" />
                      <span asp-validation-for="RegisterDto.Username" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                      <label asp-for="RegisterDto.Email" class="form-label">E-posta</label>
                      <input asp-for="RegisterDto.Email" type="email" class="form-control" />
                      <span asp-validation-for="RegisterDto.Email" class="text-danger"></span>
                    </div>
                    <div class="form-outline mb-4">
                      <label asp-for="RegisterDto.Password" class="form-label">Şifre</label>
                      <input asp-for="RegisterDto.Password" type="password" class="form-control" />
                      <span asp-validation-for="RegisterDto.Password" class="text-danger"></span>
                    </div>
                    <div class="create-button">
                     <button type="submit">Kayıt Ol</button>
                    </div>
                  </form>
              </div>
            </div>
      </div>
  </div> 
</div>

